<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.5.js"></script>
    <title>S&B Cloud Service</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_styles.css') }}">
    <style>
        body,
        h1,
        h5 {
            font-family: "Barlow", sans-serif
        }

        body,
        html {
            height: 100%
        }

        .bgimg {
            background-image: url("/static/finance.gif");
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <div class="bgimg w3-display-container">
        <div class="w3-display-middle" style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);">
            <table style="background-color: white; font-size:x-large; border-radius: 4px;">
                <thead>
                    <tr>
                        {% for header in stock_prices[0].keys() %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                {% for row, change in zip(stock_prices, price_changes) %}
                <tr>
                    {% for key in stock_prices[0].keys() %}
                    {% if "Year " + curr_year == key %}
                    <td class="{{ return_color_class(change) }}">{{ row[key] }}</td>
                    {% else %}
                    <td>{{ row[key] }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <script type="text/javascript">
                $(function () {
                    $('tr > td').each(function (index) {
                        var price = $(this).text();

                        if (price <= 50 || price >= 150) {
                            // Special coloring will be added later
                            $(this).removeClass("stockup");
                            $(this).removeClass("stockdown");
                        }

                        if (price <= 0) {
                            // Stock price is too low; will reset to 100
                            $(this).addClass('stockreset');
                        } else if (price <= 50) {
                            // Stock price is low enough to eliminate dividends
                            $(this).addClass('nodividends');
                        } else if (price >= 150) {
                            // Stock price is high enough to split
                            $(this).addClass('stocksplit');
                            $(this).append(' / ');
                            $(this).append(Math.round(price / 2));
                        }
                    });
                });
            </script>


            {% if end %}
            <div class="w3-text-white">
                <hr class="w3-border-grey" style="margin:auto;width:40%">
                <p class="w3-large w3-center">These are your final prices!</p>
            </div>
            {% endif %}

        </div>

        <footer>
            <div id="footer" class="w3-display-bottommiddle row" style="width: 100%;">

                <div class="column-left">
                    <div class="news red ticker-wrapper-h">
                        <span class="heading">BREAKING</span>
                        <ul class="news-ticker-h">
                            <li>{{ main_headline }}</li>
                            <li>{{ second_headline }}</li>
                        </ul>
                    </div>
                </div>

                <div class="column-right">
                    <div class="news blue news-animation ticker-wrapper-h">
                        <span class="heading">Prices</span>
                        <ul>
                            <li>{{ return_emoji(price_changes[0]) }} GRWTH: {{ return_symbol(price_changes[0]) }}{{ price_changes[0] }}</li>
                            <li>{{ return_emoji(price_changes[1]) }} METRO: {{ return_symbol(price_changes[1]) }}{{ price_changes[1] }}</li>
                            <li>{{ return_emoji(price_changes[2]) }} PIONR: {{ return_symbol(price_changes[2]) }}{{ price_changes[2] }}</li>
                            <li>{{ return_emoji(price_changes[3]) }} SHADY: {{ return_symbol(price_changes[3]) }}{{ price_changes[3] }}</li>
                            <li>{{ return_emoji(price_changes[4]) }} STRYK: {{ return_symbol(price_changes[4]) }}{{ price_changes[4] }}</li>
                            <li>{{ return_emoji(price_changes[5]) }} TRCTC: {{ return_symbol(price_changes[5]) }}{{ price_changes[5] }}</li>
                            <li>{{ return_emoji(price_changes[6]) }} UNITE: {{ return_symbol(price_changes[6]) }}{{ price_changes[6] }}</li>
                            <li>{{ return_emoji(price_changes[7]) }} URNUM: {{ return_symbol(price_changes[7]) }}{{ price_changes[7] }}</li>
                            <li>{{ return_emoji(price_changes[8]) }} VLLEY: {{ return_symbol(price_changes[8]) }}{{ price_changes[8] }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>